#pullrefresh {
	background: #2a2d36;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #677091;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #677091;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #677091;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #677091;
}

.change_password .into_title {
	font-size: 16px;
	color: #Fff;
	padding: 10px 20px;
}

.change_password .init_input {
	background: #2e323c;
	border: 0;
	color: #Fff;
	font-size: 14px;
	margin-bottom: 0;
}

.btn {
	width: 90%;
	margin: 30px auto;
	border: 0;
	font-size: 16px;
	color: #fff;
	margin-left: 5%;
	border-radius: 20px;
	height: 45px;
}

.btn_orange {
	background: #EB7433;
}

#pop_into .pop_container {
	height: 260px;
}

#pop_into .gift_box {
	width: 125px;
	margin-top: 25px;
}