#pullrefresh {
	background: #2a2d36;
}

.user_photo{
	width: 60px;
}
.mui-navigate-right .mui-pull-right{
	margin-right: 25px;
}

.mui-table-view-cell>a .mui-pull-left{
	line-height: 60px;
}

.item_list {
	width: 100%;
	margin: 10px auto;
	background: #2E323C;
}

.mui-table-view-cell>a:not(.mui-btn).mui-active {
	background: inherit;
}

.item_list .mui-table-view-cell+.mui-table-view-cell {
	border-top: 1px solid #3E455C;
}

.item_list .mui-table-view-cell a {
	font-size: 14px;
}

.item_list .mui-navigate-right:after,
.item_list .mui-push-left:after,
.item_list .mui-push-right:after {
	color: #677091;
	font-size: 26px;
}
.btn {
	width: 90%;
	margin: 30px auto;
	border: 0;
	font-size: 16px;
	color: #fff;
	margin-left: 5%;
	border-radius: 20px;
	height: 45px;
}

.btn_orange {
	background: #EB7433;
}

#photo_menu .mui-table-view-cell p {
	color: #333;
	font-size: 18px;
}