<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta charset="utf-8">
		<title>用户协议</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="__STATIC__/index/css/mui.min.css">
		<link rel="stylesheet" href="__STATIC__/index/css/commen.css" />
		<style type="text/css">
			html,
			body {
				background-color: #fff;
			}
			
			.mui-content {
				color: #fff;
				background-color: #fff;
			}
			
			.mui-bar-nav {
				background: #23262e;
				background-color: #fff;
			}
			
			.mui-bar .mui-icon {
				color: #23262e;
			}
			
			.shdow {
				box-shadow: 0 1px 6px #ccc;
			}
			
			ul {
				list-style: none;
				padding: 0 15px;
			}
			
			ul li {
				font-size: 14px;
				margin-bottom: 8px;
				color: #666;
			}
			
			.title {
				text-align: center;
				margin: 10px auto;
				padding: 0 15px;
				color: #f7561e;
				font-size: 22px
			}
			
			.sectionStyle {
				margin: 20px 0;
				font-size: 16px;
				color: #333;
			}
		</style>
	</head>

	<body ng-controller="agreement_controller">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" onclick="javascript :history.back(-1);"></a>
			<h4 class="mui-title" style="display: none;color: #333;font-size: 18px;font-weight: normal;">用户协议和隐私条款</h4>
		</header>
		<div class="mui-content">
			<h4 class="title">用户协议和隐私条款</h4>
			<ul>
				<li>
					尊敬的用户您好，请您仔细阅读以下条款，如果您对本协议的任何条款表示异议，您可以选择不使用；使用则意味着您将同意遵守本协议的以下全部规定，以及我们后续对使用协议随时所作的任何修改，并完全服从于我们的统一管理。
				</li>
				<li class="sectionStyle">
					第一章 总则
				</li>
				<li>第1条 畅玩是河南乐分畅游网络科技有限公司（以下统称为“本公司”）向用户提供的H5技术封装为APP的游戏休闲平台，支持用户进行面对面游戏或远程邀请朋友一起游戏。</li>
				<li>第2条 畅玩所有权、经营权、管理权均属本公司。</li>
				<li>第3条 本协议最终解释权归本公司。</li>
				<li class="sectionStyle">第二章 用户说明</li>
				<li>第4条 凡是下载、浏览、发布内容、参与H5游戏的用户均为畅玩用户(以下统称为用户)。</li>
				<li>第5条 用户的个人信息及隐私受到保护，不接受任何个人或单位的查询，本公司也不对外做他用。但国家机关基于依法调查需要要求本公司提供，以及用户个人设置公开的除外。</li>
				<li>第6条 用户享有言论自由的权利。</li>
				<li>第7条 用户的言行不得违反《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《全国人民代表大会常务委员会维护互联网安全的决定》、《互联网新闻信息服务管理规定》等相关法律法规规章及规范性文件之规定，不得在畅玩上发布、传播或以其他方式传送含有下列内容之一的信息：</li>
				<li>1.违反宪法所确定的基本原则的；</li>
				<li>2.危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
				<li>3.损害国家荣誉和利益的；</li>
				<li>4.煽动民族仇恨、民族歧视，破坏民族团结的；</li>
				<li>5.破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
				<li>6.散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
				<li>7.散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</li>
				<li>8.侮辱或者诽谤他人，侵害他人合法权益的；</li>
				<li>9.煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；</li>
				<li>10.以非法民间组织名义活动的；</li>
				<li>11.不符合《即时通信工具公众信息服务发展管理暂行规定》及遵守法律法规、社会主义制度、国家利益、公民合法利益、公共秩序、社会道德风尚和信息真实性等“七条底线”要求的；</li>
				<li>12.含有法律、行政法规禁止的其他内容的。</li>
				<li>第8条 用户不得在畅玩内发布任何形式的广告。</li>
				<li>第9条 用户承担一切因其个人的行为而直接或间接导致的民事、行政或刑事法律责任，因用户行为给本公司造成损失的，用户应赔偿本公司全部损失。</li>
				<li>第10条 本公司拥有对违反协议的用户进行处理的权利，可直接限制或禁止其在畅玩内发布信息或参与游戏。</li>
				<li>第11条 禁止使用任何非法软件进行刷内容、发布违规内容、游戏作弊等影响其他用户的行为。</li>
				<li>第12条 任何用户发现畅玩上有内容涉嫌侮辱或诽谤他人、使用游戏外挂、侵害他人合法权益的或违反本协议的，有权直接向本公司举报。</li>
				<li>第13条 本公司将对涉及反动、色情以及发布不良内容的用户进行严厉处理。一经发现此类行为，将给予永久封号并清空所有发言的处罚。</li>
				<li class="sectionStyle">第三章 权利声明</li>
				<li>第14条 畅玩中，用户需要对自己发布言论的真实性负有全部责任，与本公司无关。</li>
				<li>第15条 当用户在畅玩中遇到系统原因导致出现的问题，可以通过问题提交机制按要求向平台提交情况说明。平台进行核实查证，根据出现问题的实际情况给予解决或解释。如用户与用户之间在游戏中产生问题或纠纷，可要求平台进行协调处理。平台进行协调过程对于情节严重，态度恶劣的用户，可实行封号或其他处罚方式。但用户与用户之间因纠纷造成的任何损失，由用户自行解决并承担相应的责任，与平台无关。</li>
				<li>第16条 畅玩中，用户发布的任何内容（合法聊天信息除外），本公司有权转载或引用。</li>
				<li>第17条 畅玩中，用户发表任何内容的著作财产权，用户许可本公司在全世界范围内免费地、永久地、不可撤销地、可分许可地和非独家地使用的权利，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及《著作权法》规定的由著作人享有的其他著作财产权利。并且，用户许可本公司有权利就任何主体侵权而单独提起诉讼，并获得全部赔偿。</li>
				<li class="sectionStyle">第四章 处罚规则</li>
				<li>第18条 本公司郑重提醒，若出现下列情况任意一种或几种情形，用户将承担包括被关闭全部或部分权限、被暂停或被禁止使用的后果，情节严重的，还将承担相应的法律责任：</li>
				<li>1.使用不雅或不恰当ID和昵称；</li>
				<li>2.发布含有猥亵、色情、人身攻击和反政府言论等非法或侵权言论的；</li>
				<li>3.从事非法商业活动；</li>
				<li>4.假冒管理人员或破坏管理人员形象；</li>
				<li>5.使用非法软件进行刷内容、违规发布内容、影响其他用户正常游戏的行为；</li>
				<li>6.其他违反法律规定或本公司认为不恰当的情况。</li>
				<li>第19条 当用户发布的内容出现以下情况之一，本公司管理员有权不提前通知作者直接进行删除，并依照有关规定做相应处罚。情节严重者，本公司管理人员有权对其做出关闭部分权限、暂停直至禁止使用的处理：</li>
				<li>1.发表含有本协议第7条禁止发布、传播内容的文章；</li>
				<li>2.发表无意义的灌水内容；</li>
				<li>3.同一内容多次出现的；</li>
				<li>4.违法本协议第8条的规定，发布广告的；</li>
				<li>5.内容包含有严重影响用户浏览性质的内容或格式的；</li>
				<li>6.其他违反法律规定或本公司认为不恰当的情况。</li>
				<li class="sectionStyle">第五章 附则</li>
				<li>第20条 所有用户发布的内容而引起的法律纠纷，由用户自行解决并承担相应责任，与本公司无关，由此导致本公司产生任何损失的，本公司有权向上述用户全额追偿。</li>
				<li>第21条 畅玩如因系统维护或升级等而需暂停服务时，将事先公告。若因政策调整、硬件故障或其他不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，用户同意本公司不承担任何责任。由于畅玩的产品调整导致信息丢失或导致其他结果的，用户同意本公司不承担任何责任。</li>
				<li>第22条 用户与本公司就本协议履行产生争议的，应积极协商解决，协商不成的，双方均有权向本公司所在地人民法院提起诉讼。</li>
				<li>第23条 本协议未涉及的问题参见国家有关法律法规之规定，当本协议与国家法律法规冲突时，以国家法律法规为准。</li>
			</ul>

		</div>
		<script src="__STATIC__/index/js/mui.min.js"></script>
		<script src="__STATIC__/index/js/jquery.min.js"></script>
		<script type="text/javascript">
			window.onscroll = function() {
				var t = document.documentElement.scrollTop || document.body.scrollTop;
				if(t > 10) {
					$('header').addClass('shdow').children('h4').fadeIn();
					$('.title').fadeOut();
					return false;
				} else if(t == 10) {
					return false;
				} else {
					$('header').removeClass('shdow').children('h4').fadeOut();
					$('.title').fadeIn();
					return false;
				}
			};
		</script>
	</body>

</html>