html,body{
	height: auto;
}

#pullrefresh{
	padding-bottom: 70px;
}

.baner_container {
	width: 100%;
	height: 230px;
	background-image: url(../../img/gift/banner_bg.png);
	background-size: cover;
}

.fragment_info {
	padding: 10px;
}

.fragment_box {
	background: rgba(255, 255, 255, .3);
	border-radius: 20px;
	padding: 5px 10px;
	color: #fff;
}

.fragment_box i:first-child {
	color: #F7561E;
}

.fragment_box img {
	width: 20px;
	vertical-align: text-bottom;
	margin-right: 5px;
}

.fragment_box img:last-child {
	margin-left: 20px;
}

.fragment_box i:last-child {
	margin-left: 15px;
}

.history_box {
	color: #fff;
	font-size: 14px;
}

.history_icon {
	background: rgba(255, 255, 255, .3);
	padding: 2px 8px;
	padding-top: 5px;
	border-radius: 9px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.history_icon:before {
	content: " ";
	border: 3px solid red;
	border-radius: 3px;
	position: absolute;
	z-index: 1;
	right: 0%;
	margin-right: 0px;
	margin-top: -5px;
}

.history_icon img {
	width: 13px;
}

.history_box .mui-icon {
	margin: 0 5px;
	vertical-align: middle;
}

.oils_name {
	color: #fff;
	padding: 5px;
	line-height: 40px;
}

.oils_name img {
	width: 60%;
}

.card_type {
	width: 95%;
	margin: 0 auto;
}

.card_list {
	width: 100%;
}

.card_list .card_option {
	width: 49%;
	float: left;
	padding: 8px;
	background: #2c313b;
	text-align: center;
	min-height: 200px;
}

.card_list .card_option+.card_option {
	margin-left: 2%;
}

.card_option .card_img {
	width: 100%;
	height: 100px;
}

.card_option>.qd_img {
	width: 55%;
	margin-top: 40px;
}

.card_option p {
	padding: 10px 0;
	text-align: left;
	color: #fff;
}

.card_option p img {
	width: 18px;
	vertical-align: sub;
}

.exchange_btn {
	background: #EE5420;
	color: #fff;
	padding: 2px 8px;
	border: 0;
	float: right;
}

#pop_into .pop_container {
	height: 240px;
	color: #333;
}

#pop_into .pop_container p {
	color: #333;
}

#pop_into .gift_box {
	width: 130px;
	margin: 15px auto;
}

#pop_into .pop_btn {
	width: 50%;
	margin-top: 20px;
}

#pop_into_2 .pop_container {
	height: 240px;
	color: #333;
}

#pop_into_2 .pop_container p {
	color: #333;
}

#pop_into_2 .gift_box {
	width: 100px;
	margin: 10px auto;
}

#pop_into_2 .pop_btn {
	width: 60%;
	margin-top: 20px;
}