html,
body {
	background-color: #23262e;
	font-family:sans-serif;
	color: #333;
	height: 100%;
}
p{
	margin-bottom: 0;
}
.mui-content{
	background: #23262e;
}
.mui-bar-tab{
	background: #2e323c;
}
.mui-bar-tab .mui-tab-item img{
	width: 33px;
}
.mui-bar-tab .mui-tab-item:nth-child(2) img,.mui-bar-tab .mui-tab-item:nth-child(3) img{
	width: 39px;
}

.mui-bar-nav{
	background: #2c313b;
	box-shadow: none;
}
.mui-bar .mui-title{
	color: #fff;
	font-weight: 600;
}
.mui-bar .mui-icon{
	color: #fff;
}
.mui-table-view{
	background: transparent;
	color: #fff;
	border-top: 1px solid #2E323C;
	margin-top: 15px;
}
.mui-table-view-cell:last-child .mui-table{
	border-bottom: 1px solid #2E323C;
}
.mui-table-view-cell .mui-table{
	border-bottom: 1px solid #2E323C;
}
.mui-table-view-cell:after,.mui-table-view:before,.mui-table-view:after{
	height: 0;
}
.mui-table-view p{
	text-align: left;
	padding: 5px;
}
.mui-table-view p.title{
	color: #fff;
	font-size: 18px;
}
.mui-table-view p.mui-h5{
	color: #677091;
}
#pullrefresh{
	background: #23262e;
	padding-bottom: 20px;
	height: 100%;
}

.or_text{
	color: #F7561E!important;
	font-weight: 600;
}
.gray_text{
	color: #677091!important;
}
.wh_text{
	color: #fff!important;
}
/*
 * 超宽显示省略号
 */
.width_over{
	text-overflow : ellipsis; 
	white-space : nowrap; 
	overflow : hidden; 
}
/*
 * 导航栏下拉框
 */
#b_select_container {
	background: #333333;
	border: 1px solid #5c5c5c;
	border-radius: 0;
	width: 30%;
}
#b_select_container button{
	background: transparent;
	border:0;
	width: 100%;
	margin: 10px auto;
	color: #C8A769;
	padding: 8px 0;
	margin: 0;
	font-size: 12px;
}
#b_select_container button+button{
	border-top: 1px dotted #C8A769;
}
#b_select_container .mui-popover-arrow:after {
	background: #333333;
	border: 1px solid #5c5c5c;
}
/*
 * 弹出层背景加深
 */
.mui-backdrop-action.mui-backdrop{
	background-color: rgba(0,0,0,.5);
}
/*
 * 两种弹出窗
 */
#pop_into .pop_container{
	height: 200px;
	width: 70%;
	background: #fff;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
}
#pop_into_2 .pop_container{
	height: 200px;
	width: 70%;
	background: #fff;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
}
.pop_title{
	text-align: center;
	color: #333;
	font-size: 18px;
	font-weight: 600;
	padding: 20px 0;
	margin: 0;
}
.pop_title .mui-icon{
	font-size: 34px;
	margin-top: -5px;
	font-weight: 600;
	color: #969696;
}
input[type=text].pop_input{
	background: #fff;
	color: #333;
	border:1px solid #999999;
	width: 80%;
	font-size: 14px;
	border-radius: 8px;
	padding: 5px;
}
.pop_info{
	text-align: right;
	padding: 0 30px;
	color: #333333;
}
.pop_info b{
	color: #F7561E;
}
.pop_btn{
	background: #ff6439;
	width: 80%;
	color: #fff;
	margin: 10px auto;
	border-radius: 20px;
	border:0;
}
.close_container{
	background: transparent;
	height: 200px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}
.close_container .mui-icon{
	color: #fff;
	font-size: 44px;
}
#pop_type .pop_container{
	height: 289px;
	width: 100%;
	background: #fff;
	margin: 0 auto;
	text-align: center;
}
#pop_type .pop_title{
	border-bottom: 1px dashed #ddd;
}
.fx_container{
	height: 60px;
	line-height: 60px;
}
.fx_container+.fx_container{
	border-top:1px dashed #ddd;
}
.fx_container label{
	color: #333;
	font-size: 18px;
	font-weight: 600;
}
.fx_container img{
	width: 25px;
	vertical-align: middle;
	margin-right: 20px;
}
.fx_container input{
	margin-top: 12px;
}
#pop_type .pop_btn{
	width: 100%;
	border-radius: 0;
	height: 50px;
	margin: 0;
	font-size: 18px;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color:#f7561e;
}
/*
 * 开关样式
 */
.testswitch {  
    position: relative;  
    width: 55px;  
    margin: 0;  
    -webkit-user-select:none;   
    -moz-user-select:none;   
    -ms-user-select: none;  
}  
  
.testswitch-checkbox {  
    display: none;  
}  
  
.testswitch-label {  
    display: block;   
    overflow: hidden;   
    cursor: pointer;  
    border-radius: 20px;  
}  
  
.testswitch-inner {  
    display: block;   
    width: 200%;   
    margin-left: -100%;  
    transition: margin 0.3s ease-in 0s;  
}  
  
.testswitch-inner::before, .testswitch-inner::after {  
    display: block;   
    float: right;   
    width: 50%;   
    height: 28px;   
    padding: 0;   
    line-height: 30px;  
    font-size: 14px;   
    color: white;   
    font-family:   
    Trebuchet, Arial, sans-serif;   
    font-weight: bold;  
    box-sizing: border-box;  
}  
  
.testswitch-inner::after {  
    content: attr(data-on);  
    padding-left: 10px;  
    background-color: #f7561e;   
    color: #FFFFFF;  
}  
  
.testswitch-inner::before {  
    content: attr(data-off);  
    padding-right: 10px;  
    background-color: #fff;   
    color: #999999;  
    text-align: right;  
}  
  
.testswitch-switch {  
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    margin: 4px;
    background: #FFFFFF;
    -moz-box-shadow:0px 0px 15px #000;
    -webkit-box-shadow:0px 0px 15px #000;
     box-shadow:0px 0px 15px #000;
    top: -3px;
    bottom: 0;
    right: 23px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}  
  
.testswitch-checkbox:checked + .testswitch-label .testswitch-inner {  
    margin-left: 0;  
}  
  
.testswitch-checkbox:checked + .testswitch-label .testswitch-switch {  
    right: -4px;   
}  