#pullrefresh .mui-media-body>span {
	font-size: 14px;
}

#pullrefresh .mui-media-body>p {
	font-size: 12px;
	padding-left: 0;
	color: #677091;
}

#pullrefresh .mui-media-object {
	margin-top: 5px;
}

.mui-table-view {
	background: #2E323C;
}

.mui-table-view .mui-table-view-cell+.mui-table-view-cell {
	border-top: 1px solid #3E455C;
}

.mui-table-view .mui-table-view-cell .or_text {
	font-weight: 100;
}

.mui-table-view-cell>a:not(.mui-btn) {
	padding: 5px 10px;
}